@import 'bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    overflow: hidden !important;
}
.index{
    z-index: 10;
}
.bg-image{
    background: url('../../public/lms_bg.jpeg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-custom{
    background: rgb(57, 27, 112);
    color: white;
}

.bg-custom-gradient{
    background: linear-gradient(90deg, rgb(57, 27, 112) , rgba(57, 27, 112, 0.8));
    color: white;
}
.glass{
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 15px #00000033;
}
.header-text {
    font-family: 'Figtree', sans-serif;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.intro-section {
    text-align: center;
    padding: 20px 0;line-height: 2;
}

.intro-section h2 {
    font-weight: 500;
}

.intro-section p {
    font-size: 1.2rem;
    color: white;
}
.navigation ul li a{
    display: flex;
    gap: 10px;
    align-items: center;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
}
.navigation{
    margin-top: 10px;
    position: fixed;
    overflow: hidden;
    
}
.custom-flow{
    margin-top: 50px;
    margin-bottom: 50px !important;
    background-color: rgba(36, 36, 36, 0.14);
    height: 100vh;
    overflow: auto !important;
    padding-bottom: 20px;

}
.custom-flow-b{
    margin-bottom: 50px !important;
    height: 100vh;
    overflow: auto !important;
    background-color: rgba(22, 0, 63, 0.381) ;
    padding-bottom: 20px;

}
.pending{
    background-color: yellow;
    text-align: center;
    border: 1px solid grey;
    padding: 2px 4px;
    border-radius: 5px;
    color: rgb(120, 85, 85);
}

.approved{
    background-color: green;
    text-align: center;
    border: 1px solid rgb(136, 255, 0);
    padding: 2px 4px;
    border-radius: 5px;
    color: rgb(252, 248, 248);
}


.card-custom{
    background-color: rgb(37, 4, 98) !important;
}

.text-custom{
    color: rgb(89, 0, 255) !important;
}

.rule-card{
    background-color: rgb(37, 4, 98) !important;
}

.btn-custom{
    background-color: rgb(89, 0, 255) !important;
    color: wheat !important;
}

.input-search{
    background-color: rgba(33, 2, 91, 0.467)  !important;
    color: white !important;
    appearance: none;
}

.input-search::placeholder{
    color: white !important;
    appearance: none; /* Removes default browser styles */
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none;
}

.guest-width{
    width: 550px !important;
    max-width: 90%;
}